<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.softgates.instadoctor">

    <uses-permission android:name="android.permission.CALL_PHONE" />


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <dist:module dist:instant="true" />

<!--
    android:name="androidx.multidex.MultiDexApplication"
-->

    <application
        android:name=".twillo.TwilioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/splashNoactionbar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".introduction.IntroductionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/yelloNoactionbar"
            />

        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/blackNoactionbar"
            />

        <activity android:name=".twillo.ChannelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/blackNoactionbar"
            />

        <activity android:name=".twillo.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/blackNoactionbar"
            />

        <activity android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/blackNoactionbar"
            />

        <activity android:name=".activity.DemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/homeNoactionbar"
            />

         <activity android:name=".demo.VideoCalling"
            android:screenOrientation="portrait"
            android:theme="@style/homeNoactionbar"
            />


        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".demoo.ui.APIUserStartJoinMeetingActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/ZMTheme.MainWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>